////////////////////////////////////////////////////////////
// Gradient with overload                                 //
// If not presented with start and stop colors or         //
// if start is equal to stop color just output background //
////////////////////////////////////////////////////////////

.gradient (@color: #F5F5F5, @start: #EEE, @stop: #FFF) when (iscolor(@start)) and (iscolor(@stop)) and not (@start = @stop) {
    background: @color;
    background: -webkit-gradient(linear,
                                 left bottom,
                                 left top,
                                 color-stop(0, @start),
                                 color-stop(1, @stop));
    background: -ms-linear-gradient(bottom,
                                    @start,
                                    @stop);
    background: -moz-linear-gradient(center bottom,
                                     @start 0%,
                                     @stop 100%);
    background: -o-linear-gradient(@stop,
                                 @start);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@stop),argb(@start)));
}

.gradient (@color: #F5F5F5, @start: #EEE, @stop: #FFF) when (default()) {
    background: @color;
}

.horizontal-gradient (@color: #F5F5F5, @start: #EEE, @stop: #FFF) when (iscolor(@start)) and (iscolor(@stop)) and not (@start = @stop) {
    background: @color;
    background: -webkit-gradient(linear,
                                 left top,
                                 right top,
                                 color-stop(0, @start),
                                 color-stop(1, @stop));
    background: -ms-linear-gradient(left,
                                    @start,
                                    @stop);
    background: -moz-linear-gradient(left center,
                                     @start 0%,
                                     @stop 100%);
    background: -o-linear-gradient(@stop,
                                 @start);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@stop),argb(@start)));
}

.horizontal-gradient (@color: #F5F5F5, @start: #EEE, @stop: #FFF) when (default()) {
    background: @color;
}

.opacity (@opacity: 0.5) {
    -moz-opacity: @opacity;
    -khtml-opacity: @opacity;
    -webkit-opacity: @opacity;
    opacity: @opacity;
    @opperc: (@opacity * 100);
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter: ~"alpha(opacity=@{opperc})";
}

.transform (...) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;
    -ms-transform: @arguments;
    transform: @arguments;
}

.transform-style (...) {
    -moz-transform-style:       @arguments;
    -webkit-transform-style:    @arguments;
    -ms-transform-style:        @arguments;
    -o-transform-style:         @arguments;
    transform-style:            @arguments;
}

.transform-origin (...) {
    -webkit-transform-origin:   @arguments;
    -moz-transform-origin:      @arguments;
    -ms-transform-origin:       @arguments;
    -o-transform-origin:        @arguments;
    transform-origin:           @arguments;
}

.transform-rotate(@rotate) {
    -webkit-transform: rotate(@rotate);
    -moz-transform: rotate(@rotate);
    -ms-transform: rotate(@rotate);
    -o-transform: rotate(@rotate);
    transform: rotate(@rotate);
}

.transform-scale(@ratio) {
    -webkit-transform: scale(@ratio);
    -moz-transform: scale(@ratio);
    -ms-transform: scale(@ratio);
    -o-transform: scale(@ratio);
    transform: scale(@ratio);
}

.transform-translateX(@x) {
    -webkit-transform: translateX(@x);
    -moz-transform: translateX(@x);
    -ms-transform: translateX(@x);
    -o-transform: translateX(@x);
    transform: translateX(@x);
}

.transform-translateY(@y) {
    -webkit-transform: translateY(@y);
    -moz-transform: translateY(@y);
    -ms-transform: translateY(@y);
    -o-transform: translateY(@y);
    transform: translateY(@y);
}

.transform-translateZ(@y) {
    -webkit-transform: translateZ(@y);
    -moz-transform: translateZ(@y);
    -ms-transform: translateZ(@y);
    -o-transform: translateZ(@y);
    transform: translateZ(@y);
}

.animation (...) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    -ms-animation: @arguments;
    -o-animation: @arguments;
    animation: @arguments;
}

.animation-delay(@delay) {
    -webkit-animation-delay: @delay;
    -moz-animation-delay: @delay;
    -ms-animation-delay: @delay;
    -o-animation-delay: @delay;
    animation-delay: @delay;
}

.animation-duration(@duration) {
    -webkit-animation-duration: @duration;
    -moz-animation-duration: @duration;
    -ms-animation-duration: @duration;
    -o-animation-duration: @duration;
    animation-duration: @duration;
}

.animation-iteration-count(@num) {
    -webkit-animation-iteration-count: @num;
    -moz-animation-iteration-count: @num;
    -ms-animation-iteration-count: @num;
    -o-animation-iteration-count: @num;
    animation-iteration-count: @num;
}

.animation-fill-mode(@mode) {
    -webkit-animation-fill-mode: @mode;
    -moz-animation-fill-mode: @mode;
    -ms-animation-fill-mode: @mode;
    -o-animation-fill-mode: @mode;
    animation-fill-mode: @mode;
}

.animation-name(@name) {
    -webkit-animation-name: @name;
    -moz-animation-name: @name;
    -ms-animation-name: @name;
    -o-animation-name: @name;
    animation-name: @name;
}

.animation-timing-function(@name) {
    -webkit-animation-timing-function: @name;
    -moz-animation-timing-function: @name;
    -ms-animation-timing-function: @name;
    -o-animation-timing-function: @name;
    animation-timing-function: @name;
}

.rotation (@deg:5deg){
    .transform(rotate(@deg));
}

.perspective (...) {
    -moz-perspective:       @arguments;
    -webkit-perspective:    @arguments;
    -ms-perspective:    @arguments;
    perspective:            @arguments;
}

.perspective-origin (...) {
    -moz-perspective-origin:       @arguments;
    -webkit-perspective-origin:    @arguments;
    -ms-perspective-origin:    @arguments;
    perspective-origin:            @arguments;
}

.backface-visibility(@visibility) {
    -webkit-backface-visibility: @visibility;
    -moz-backface-visibility: @visibility;
    -ms-backface-visibility: @visibility;
    -o-backface-visibility: @visibility;
    backface-visibility: @visibility;
}

.scale (@ratio:1.5){
    .transform(scale(@ratio));
}

//////////////////////////////
// Transition with overload //
//////////////////////////////

// Shorthand with all @duration @ease
.transition (@duration:0.2s, @ease:ease-out) when (isnumber(@duration)) {
    -webkit-transition: all @duration @ease;
    -moz-transition: all @duration @ease;
    -ms-transition: all @duration @ease;
    -o-transition: all @duration @ease;
    transition: all @duration @ease;
}

// Overload to allow for any value
.transition (@arguments) when (default()) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

.transition-duration (@duration: 0.2s) {
    -webkit-transition-duration: @duration;
    -moz-transition-duration: @duration;
    -ms-transition-duration: @duration;
    -o-transition-duration: @duration;
    transition-duration: @duration;
}

.transition-transform(@duration, @func) {
    -webkit-transition: -webkit-transform @duration @func;
    -moz-transition: -moz-transform @duration @func;
    -ms-transition: -ms-transform @duration @func;
    -o-transition: -o-transform @duration @func;
    transition: transform @duration @func;
}

.transition-delay(@delay) {
    -webkit-transition-delay: @delay;
    -moz-transition-delay: @delay;
    -ms-transition-delay: @delay;
    -o-transition-delay: @delay;
    transition-delay: @delay;
}

.box-shadow (@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}

.box-sizing (@sizing: border-box) {
    -ms-box-sizing: @sizing;
    -moz-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
    box-sizing: @sizing;
}

.user-select (@argument: none) {
    -webkit-user-select: @argument;
    -moz-user-select: @argument;
    -ms-user-select: @argument;
    user-select: @argument;
}

.translate (@x:0, @y:0) {
    .transform(translate(@x, @y));
}

.background-clip (@argument: padding-box) {
    -moz-background-clip: @argument;
    -webkit-background-clip: @argument;
    background-clip: @argument;
}

.filter (...) {
    -moz-filter:       @arguments;
    -webkit-filter:    @arguments;
    filter:            @arguments;
}

.keyframes (@name, @arguments) {
    @-webkit-keyframes @name {
        @arguments();
    }
    @-moz-keyframes @name {
        @arguments();
    }
    @-ms-keyframes @name {
        @arguments();
    }
    @-o-keyframes @name {
        @arguments();
    }
    @keyframes @name {
        @arguments();
    }
}

/////////////////////////////////////
// Border radius prefix-free mixin //
/////////////////////////////////////

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

/////////////////////////////////////
// CSS3 columns prefix-free mixins //
/////////////////////////////////////

.column-count (...) {
    -webkit-column-count: @arguments;
    -moz-column-count: @arguments;
    column-count: @arguments;
}

.column-gap (...) {
    -webkit-column-gap: @arguments;
    -moz-column-gap: @arguments;
    column-gap: @arguments;
}

.column-width (...) {
    -webkit-column-width: @arguments;
    -moz-column-width: @arguments;
    column-width: @arguments;
}

.column-rule-color (...) {
    -webkit-column-rule-color: @arguments;
    -moz-column-rule-color: @arguments;
    column-rule-color: @arguments;
}

.column-rule-style (...) {
    -webkit-column-rule-style: @arguments;
    -moz-column-rule-style: @arguments;
    column-rule-style: @arguments;
}

.column-rule-width (...) {
    -webkit-column-rule-width: @arguments;
    -moz-column-rule-width: @arguments;
    column-rule-width: @arguments;
}

.column-span (...) {
    -webkit-column-span: @arguments;
    -moz-column-span: @arguments;
    column-span: @arguments;
}